
<div class="newsletter-txt card-shadow">
	
	A weekly email with our favorite articles about design, front-end development, technology, startups, 
	productivity and the occasional inspirational life lesson

	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
	<!--End mc_embed_signup-->

	<form  action="//estudioberinjela.us7.list-manage.com/subscribe/post?u=bb9e0e8010263e441fbff1ce3&amp;id=47ba3fc8a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
		<div id="mc_embed_signup_scroll">
			<span class="mailchimp-input">
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>  
			</span>
			<input type="submit" value="I want join" name="subscribe" id="mc-embedded-subscribe" class="button btn-round">
			
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bb9e0e8010263e441fbff1ce3_47ba3fc8a6" tabindex="-1" value=""></div>
			<br>
			<div ></div>
		</div>

	</form>


	<div class="newsletter-signup-links">
		<a href="{{ site.baseurl }}/why-sign-up-to-my-newsletter.html">why should I sign-up?</a>
	</div>

</div>
	



