.burger {
   .menu{
     background: transparent;
   }
  .top-bar,
  .middle-bar,
  .bottom-bar {
    display: block;
    width: 40px;
    height: 10px;
    background-color: $theme-dark-color;
    margin-bottom: 4px;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0; }

  .top-bar, .bottom-bar {
    transform-origin: 100% 50%; }

  .middle-bar {
    transition-property: opacity;
    transition-duration: 0.6s; }

  .top-bar-close {
    transform: rotate(-45deg);
    background-color: $theme-dark-color; }

  .middle-bar-close {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s; }

  .bottom-bar-close {
    transform: rotate(45deg);
    background-color: $theme-dark-color; }
    }