.burger-icon {
    @include burger(25px, 3px, 5px, $burger-color-dark);
    margin-top: 1.15rem;
}


.burger-icon-dark {
    @include burger(25px, 3px, 5px, $burger-color-light);
    margin-top: 1.2rem;
}

.menu-button.is-active .burger-icon {
    @include burger-to-cross;
}


.menu-button.is-active .burger-icon-dark {
    @include burger-to-cross;
}

.top-bar.expanded .toggle-topbar a span::after{
    box-shadow:none;
}