<div  class="hero-txt center-center">
		<h1>
			{{ site.hero-title }}
		</h1>
		<h3>
			{{ site.hero-subtitle }}
			<br>
			<span
     		class="txt-rotate"
     		data-period="1000"
     		data-rotate='[ "{{ site.hero-key-word-1 }}", "{{ site.hero-key-word-2 }}","{{ site.hero-key-word-3 }}", "{{ site.hero-key-word-4 }}"]'
     		>
     		</span>
     		<br>
		</h3>
		<a href="#bio" class="button btn-outline-light btn-round page-scroll"> {{ site.hero-btn-txt }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
	</div>
