---
layout: default
type: page
dev-info: true

foundation5: 1
fullpage: 1
isotope: 1
scroll-to: 1
animation-page: 1
animation-scroll: 1
fitivid: 1
swipebox: 1

---

{% include molecule/loading/cover.html %}
<div class="row full">
    <div class="sidebar medium-12 large-3 columns">
        {% include molecule/sidebar/sidebar-fixed.html %}
    </div>
    <div class="content medium-12 large-9 columns">
        {{ content }}
    </div>
    <div class="content medium-12 large-9 columns right">
    {% include organism/footer.html %}
    </div>
</div> 
{% include atom/util/back_top_btn.html %}
{% include organism/script/bottom.html %}

