<ul class="custom-list">
    <li>1960 Receives ‘Kulturkreis im Bundesverband der Deutschen Industrie’ Scholarship Award.</li>
    <li>
    1961 TP1 Portable record player and radio receives ‘Supreme Award’ at Interplas exhibition, London.</li>
    <li>1963 F21 receives ‘Supreme Award’ at Interplas exhibition, London.</li>
    <li>1968 Awarded ‘Honorary Royal Designer for Industry’ of the Royal Society of Arts, UK for ‘distinguished design in furniture and light engineering products’</li>
    <li>
    1969 620 Chair awarded ‘Gold Medal’ at the International Furniture Exhibition in Vienna.</li>
    <li>1978 Awarded ‘SIAD Medal of the Society of Industrial Artists and Designers’, UK.</li>
    <li>
    1985 Awarded ‘Académico de Honor Extranjero’ by the Academia Mexicana de Diseño, Mexico</li>
    <li>1989 First recipient of the ‘Industrie Forum Design Hannover’, Germany, for special contribution to design.</li>
</ul>