<aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Smudge</label></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#" class="off-canvas-submenu-call">Option 2 <span class="right"> + </span></a></li>
        				<ul class="off-canvas-submenu">
								<li><a href="#">Sub menu 1</a></li>
								<li><a href="#">Sub menu 2</a></li>
								<li><a href="#">Sub menu 3</a></li>
							</ul>
        <li><a href="#">Option 3</a></li>

      </ul>
    </aside>