
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">
  <!-- icon -->
  <h1 class="name">
  <!--i class="fi-widget"></i> TOP GEAR</a-->
  {% include atom/nav/nav_logo.html %}
  </h1>
  

  <!-- list -->
  <ul class="inline-list">
      {% include atom/nav/nav_li-loop.html %}
  </ul>


  <!-- login mds up -->
  <ul class="inline-list hide-for-small-only account-action">
    {% include atom/nav/nav_li-login.html %}
  </ul>

  <!-- login sm -->
  <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>

</nav>

<!-- modal content -->
{% include molecule/modal/modal_login.html %}