<!-- Navigation -->
<div class="nav-middle">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
          <div class="logo-nav-middle show-for-small-only" href="#">
            {% include atom/nav/nav_logo.html %}
          </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <div class="logo-wrapper hide-for-small-only">
        <div class="logo-nav-middle">
          {% include atom/nav/nav_logo.html %}
        </div>
      </div>

      {% include atom/nav/nav_middle_ul.html %}
  </nav>
</div>