<!-- does not work with fixed or animated, for now -->
<nav class="tab-bar">
  <section class="left">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    Foundation
  </section>

  <section class="tab-bar-section right">
    <a href="#">test</a>
    <a href="#">test</a>
    <a href="#">test</a>
  </section>
  
  <!--section class="right">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section-->
</nav>

