<nav class="tab-bar">
  <section class="tab-bar-section left">
   section L
  </section>

  <section class="middle tab-bar-section">
    <a style="padding-right:1rem;">hello</a>
    <a style="padding-right:1rem;">hello</a>
    <a style="padding-right:1rem;">hello</a>
    <a href="{{ site.baseurl }}">
      <img src="{{ site.baseurl }}{{ site.img-path }}/{{ site.logo }}">
    </a>
    <a style="padding-left:1rem;">hello</a>
    <a style="padding-left:1rem;">hello</a>
    <a style="padding-left:1rem;">hello</a>
  </section>
  <section class="tab-bar-section right">
    section R
  </section>
</nav>

