 {% if page.myscript == true %}
    <!--script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/s.js"></script-->
    <!--script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/in.js"></script-->
 {% endif %}


 {% if page.preloader == 1 %}
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/c/preloader.js"></script>
{% endif %}

{% if page.top-nav == 1 %}
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/c/menu_top_bar.js"></script>
{% endif %}
