{% include atom/script/js_foundation.html %}
{% include atom/script/js_fullpage.html %}

{% include atom/script/js_isotope.html %}
{% include atom/script/js_animation-scroll.html %}

{% include atom/script/js_animation-page.html %}

{% if page.scroll-to == true %}
<script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/v/jquery.easing.min.js"></script>
{% endif %}

{% include atom/script/js_fitivid.html %}
{% include atom/script/js_swipebox.html %}
{% include atom/script/js_myscript.html %}
{% include atom/script/js_dev-log.html %}
