  <link rel=”author” href=”https://plus.google.com/116739255173599428138”/>

  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/a/s.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/a/v.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/a/i.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/custom.css">
  
  <link rel="icon"  type="image/ico"  href="{{ site.baseurl }}{{ site.img-path }}/{{ site.logo }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script>document.createElement( "picture" );</script>
  <script src="{{ site.baseurl }}/lib/js/build/h.js"></script>

  <script>
  (function(d) {
    var config = {
      kitId: 'rvc4hsl',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700' rel='stylesheet' type='text/css'>