---
layout: page-fullpage
type: post
---

{% if page.hero == true %}
<div class="section hero">

	<div  class="hero-txt center-center">
		<h1>{{ page.title }}</h1>
		<h3>{{ page.description }}<br></h3>

		<h4>
			<a href="#content" class="page-scroll">
				read more
			</a> <i class="fa fa-chevron-down" aria-hidden="true"></i>
		</h4>
	</div>

	<div class="slide post-hero-slide-bg" style="background: url({{ site.baseurl }}{{ page.cover }}) no-repeat center center;"></div>

</div><!-- cover post -->
{% endif %}

<div id="content" class="section fp-auto-height">
	<div class="row">
		{% if page.hero != true %}
		<div class="small-12 large-8 large-centered columns text-center">
			<h1>{{ page.title }}</h1>
			<h4>{{ page.description }}</h4>
			<br>
			{% if page.cover != null %}<img src="{{ site.baseurl }}{{ page.cover }}">{% endif %}
		</div>
		{% endif %}
		<div class="small-12 large-8 large-centered columns">
			{{ content }}
			{% include embed/mailchimp.html %}
		</div>
	</div>
</div>



