{% include atom/script/js_foundation.html %}
{% include atom/script/js_fullpage.html %}

{% include atom/script/js_isotope.html %}
{% include atom/script/js_animation-scroll.html %}

{% include atom/script/js_animation-page.html %}

{% if page.scroll-to == true %}
<script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/v/jquery.easing.min.js"></script>
{% endif %}

{% include atom/script/js_fitivid.html %}
{% include atom/script/js_swipebox.html %}
{% include atom/script/js_myscript.html %}
{% include atom/script/js_dev-log.html %}



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDBdh6dj3XOB_UgrUYOP_DvyTT_zbwAc6U&sensor=false">
    
</script>



<script>
    $( document ).ready( function() {


        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          parking: {
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          }
        };



	//Google Maps JS
	//Set Map
	function initialize() {
			var myLatlng = new google.maps.LatLng(-33.916365282092855, 151.22937399734496);
			var imagePath = 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png'
			var mapOptions = {
				zoom: 17,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
			}

		var map = new google.maps.Map(document.getElementById('map'), mapOptions);
		//Callout Content
		var contentString = 'Some address here..';
		//Set window width + content
		var infowindow = new google.maps.InfoWindow({
			content: contentString,
			maxWidth: 500
		});

		//Add Marker
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: imagePath,
			title: 'image title'
		});

		google.maps.event.addListener(marker, 'click', function() {
			infowindow.open(map,marker);
		});

		//Resize Function
		google.maps.event.addDomListener(window, "resize", function() {
			var center = map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);

});
</script>