  <footer id="footer-sticky">
    <div id="logo-footer">
      <a href="#" id="go-up" class="go-up-event"></a>
    </div>
    <nav class="row">
      <ul class="footer-navigation">
        <li id="menu-about" class="menu-item go-down-event"><a href="#">About</a></li>
        <li id="menu-home" class="menu-item go-up-event"><a href="#">Home</a></li>
        <li class="menu-item"><a id="portLink" href="#portfolio">My Works</a></li>
        <li class="menu-item"><a target="_blank" href="//cu7io.us">Blog</a></li>
      </ul>
      <p>© 2015 Designed &amp; Coded by Cu7ious</p>
    </nav>
  </footer>