{% if page.top-nav == 1 %}
{% include molecule/nav/nav_top-right.html %}
{% endif %}

{% if page.top-nav == 2 %}
{% include molecule/nav/nav_top-right_fixed.html %}
{% endif %}

<!-- 3 OFF CANVAS TEMPLATE ONLY -->

{% if page.top-nav == 4 %}
{% include molecule/nav/nav_top-right-anim.html %}
{% endif %}

{% if page.top-nav == 5 %}
{% include molecule/nav/nav_top-middle.html %}
{% endif %}

{% if page.top-nav == 6 %}
{% include molecule/nav/nav_subnav-middle.html %}
{% endif %}

{% if page.top-nav == 7%}
{% include molecule/nav/nav_subnav-middle_img.html %}
{% endif %}

{% if page.top-nav == 8%}
{% include molecule/nav/nav_middle.html %}
{% endif %}

{% if page.top-nav == 9%}
{% include molecule/nav/nav_middle-buttons.html %}
{% endif %}

{% if page.top-nav == 10%}
{% include molecule/nav/nav_two-level.html %}
{% endif %}

{% if page.top-nav == 11%}
{% include molecule/nav/nav_menu-left_login-right.html %}
{% endif %}
