<section id="header">
      <div class="header-inner-wrapper">

        <div id="hero-title">
          <div class="height-block">

            <div class="logo-phone centered">
              <h1><a href="/" title="Cu7ious">Cu7ious</a></h1>
            </div>

            <h1>
              I am creator of the
              <br>
              <span>Tasty Website Templates.</span>
            </h1>
            <a target="_blank" href="//themes.phoenix-theme.com/">Browse'em all »</a>
          </div>
        </div>

        <div id="go-down" class="go-down go-down-event">
          <span></span>
        </div>

      </div>
    </section>