<div class="nav-two-level">
  

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    
    <div class="logo-nav-two-level">
     {% include atom/nav/nav_logo.html %}
    </div>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% include atom/nav/nav_li-loop.html %}
    </ul>
    <ul class="social-icons">
    {% for media in site.social %}
      <li>
        <a href="{{ media.url }}" target="blank" >
            <i class="fa fa-{{media.name}}" aria-hidden="true"></i>
        </a>
      </li>
    {% endfor %}
    </ul>
    
  </section>
</nav>

</div>