<div class="card card-shadow card-radius">
    <div class="card-media">
        <a href="{{ post.url }}">
            <picture>
                <img
                    sizes="(max-width: {{ site.img-bio-max-size }}px)100vw, {{ site.img-bio-max-size }}px"
                    srcset=" 
                        {% for break in site.img-bio-breakpoints %}
                        {{ site.img-bio-path }}/{{ break }}/{{ site.img-profile }} {{ break }}w,
                        {% endfor %}"
                    src="{{ site.baseurl }}{{ site.img-bio-path }}/{{ site.img-max-width }}/{{ site.img-profile }}"
                    alt="{{ site.author }} profile">
            </picture>
            <span class="card-media-title">category</span>
        </a> 
    </div>
    <div class="card-container card-title" itemprop="name">Post title text</div>
    <hr>
    <div class="card-container card-description" itemprop="name">description description description description description description description description description </div>
    <hr>
    <div class="card-container card-tags">
        <span class="card-tag">tag</span>
        <span class="card-tag">tag</span>    
    </div>
    <div class="card-container card-author">{{ site.author }} - {{ site.description }}</div>  
    <div  class="card-callout">CALL OUT </div>
    <div class="card-container"> 
        <a class="button" href="#">hello</a> 
        <a class="button btn-light" href="#">hello</a>
        <a class="button btn-round" href="#">hello</a>
        <a class="button btn-light btn-round" href="#">hello</a>
        {% for media in site.social | limit: 3 %}
            <a type="button" class="button btn-circle" href="{{ site.baseurl }}{{ media.url }}" target="blank" >
                <i class="fa fa-{{media.name}}" aria-hidden="true"></i>
            </a>
        {% endfor %}
        <a class="button btn-outline" href="#">hello</a>
        <a class="button btn-outline-light" href="#">hello</a>
    </div>
</div>