---
layout: default
type: page
dev-info: true

foundation5: 1
fullpage: 1
isotope: 1
scroll-to: 1
animation-page: 1
animation-scroll: 1
fitivid: 1
swipebox: 1


---
{% include molecule/loading/cover.html %}
<a id="top"></a>
<div class="off-canvas-custom">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav>
        <a class="right-off-canvas-toggle" href="#" >
          {% include atom/util/icon_burger-anim.html %}
        </a>
      </nav>
        <!-- Off Canvas Menu -->
        <aside class="right-off-canvas-menu">
          {% include molecule/off-canvas/off-canvas_ul-double.html %}
        </aside>

        <section>
              {{ content }}
        </section>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
      
    </div>
  </div>
</div>
{% include atom/util/back_top_btn.html %}
{% include organism/footer.html %}
{% include organism/script/bottom.html %}