#bio{
	img{
		width:100%;
	}
	.bio-txt{
		p{
			max-width:35rem;
			margin: auto; 
		}
	}

	.action-bio{
		p{
			max-width:22rem; 
			margin:auto;
		}
	}
	.skill{

		min-height: 8.5rem;

		p{
			max-width:25rem; 
			margin:auto; 
			font-size: $skill-p-lg;
			text-align:center; 
			line-height: $skill-p-lg;
		}

		@media #{$small-only} { 
			.icon{ 
				margin-bottom: 1.5rem;
			}
		}

		@media #{$medium-only} { 
			.icon{ 
				padding-bottom: 1.5rem;
			}
		}

		@media #{$large-only} { 
			.icon{ 
				max-height:4rem;
				padding-bottom: 0.5rem;
			}
		}

		@media #{$xlarge-up} { 
			.icon{ 
				margin-bottom: 1.5rem;
			}
		}
	}

	@media #{$small-only} { 
		.txt-bio{
			p{
				padding: 2rem 0;
			}
		}

		.skill{ 
			padding: 1rem 0;

			p{
				padding: 2rem 0;
				font-size: $skill-p-sm;
			}
		}
	}
}