 {% if page.fullpage == 1 %}
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/v/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/i/fullpage_init.js"></script>
 {% endif %}

 {% if page.fullpage == 2 %}
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/v/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/build/i/fullpage_autoscroll_init.js"></script>
 {% endif %}
