


//----------- Top Bar  ----------//

.top-bar  {
  background:$top-bar-bg;
  //margin-top:1.25rem; 
  font-family: $top-bar-font;
  //width:100% !important;
  
  transition: margin-top 0.5s ease, height 0.5s ease; 


  //----------- Title Area  ----------//

  .title-area{
      background:transparent;
      //position: relative;
      //z-index: 1; 

    .a{
      border-bottom:none;
      text-decoration:none;
    }

    .img {
      max-height: 3rem;
    }

  }


  //----------- Top Bar Section  ----------//

  .top-bar-section > ul {
    //background:transparent !important;
  }
    /*visibility: hidden; 
    z-index: 99;
    padding-right: 1.5rem;
  }*/

  .top-bar-section ul li {
    background:transparent;
    & > a {
      font-size: 1.2rem;
      font-family: $top-bar-font !important;}
      /*color:$top-bar-txt;
      text-decoration: none;
      border-bottom: none;
      transition: color 0.5s ease !important;
    }*/
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background:transparent;
  }


// end top bar
  
}



  











