//----------- Toggle Top Bar  ----------//



  // TOGGLE 

  .toggle-topbar{
    //visibility: hidden;
    //background: blue;

    /*a{
      color: $top-bar-txt !important;
      transition: color 0.5s ease !important;
    }*/
  }

  // EXPANDED

.top-bar.expanded {

  transition: height 0.5s ease;
  //height:20rem !important;
  //background: blue;

    .title-area{
      background: $top-bar-bg;
    }

    .top-bar-section ul li {
      background: $top-bar-bg !important;
    }


    /*.top-bar-section > ul {
      -webkit-animation: topbar-dropdown 0.5s ease-in-out;
      -moz-animation: topbar-dropdown 0.5s ease-in-out;
      -ms-animation: topbar-dropdown 0.5s ease-in-out;
      animation: topbar-dropdown 0.5s ease-in-out;
    }*/
  }

  

  /* mobile top bar animation

@-webkit-keyframes topbar-dropdown {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
     opacity: 1.0;
 }
}

@-moz-keyframes topbar-dropdown {
  0% {
    -moz-transform: translateY(-100%);
     opacity: 0;
 }

  100% {
    -moz-transform: translateY(0);
     opacity: 1.0;
 }
}

@-ms-keyframes topbar-dropdown {
  0% {
    -ms-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -ms-transform: translateY(0);
    opacity: 1.0;
  }
}

@-ms-keyframes topbar-dropdown {
  0% {
    -o-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1.0;
  }
}

@keyframes topbar-dropdown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1.0;
  }
}
*/